@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Skranji:wght@700&family=Titillium+Web:wght@300&display=swap");

html {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(black, slategray, maroon, slategray, black);
}

/*--------------------Rules */
.top {
    color: #B22222;
    text-align: center;
    text-decoration: underline;
    font-size: 3.5rem;
    font-family: "Skranji", "sans-serif";
}

.rules {
    border:8px solid #ffd700;
    background-color: #696969;
    color: #000000;
    width: fit-content;
    margin-left: 15%;
    padding: 10px;
    text-align: center;
    font-size: 2.5rem;
    font-family: "Skranji", "sans-serif";
}

.select {
    border: 8px solid #ffd700;
    background-color: #696969;
    color: #000000;
    width: fit-content;
    margin-left: 14%;
    padding-right: 25px;
    text-align: center;
    font-size: 2.5rem;
    font-family: "Skranji", "sans-serif";
}

/* -----------------Input */
#name-card {
    position: absolute;
    right: 38%;
    background-image: linear-gradient(to right, gray, slategray);
    border: 5px solid gold;
    padding-bottom: 8px;
    padding-left: 18px;
    padding-right: 25px;
}

#name {
    font-size: 1.9rem;
    color: black;
    font-family:"Skranji", "sans-serif";
}

#fname {
    height: 15px;
    padding: 3px;
    font-size: 1.2rem;
    font-family: "Skranji";
    color: darkred;
}

#submit {
    font-size: large;
    height: 30px;
    width: 103px;
    background-color: peachpuff;
}

/*--------------------Header */
.header {
    color: #ffffff;
    text-align: center;
    text-decoration: underline;
    font-size: 6.5rem;
    font-family: "Skranji", "sans-serif";
}

/*-------------------Link */
.link {
    border: 8px solid #ffd700;
    background-color: #b0c4de;
    color: #B22222;
    width: 120px;
    margin-left: 45%;
    text-align: center;
    text-decoration: underline;
    font-size: 2.5rem;
    font-family: "Skranji", "sans-serif"
}

/*--------------------Buttons */
.btn--brown {
    background-color: #a52a2a;
    font-size: 3.2rem;
    padding: 20px;
    border: 5px solid #ffd700;
    cursor: pointer;
    border-radius: 10px;
    height: 200px;
    width: 200px;
    margin: 10px;
}

.btn--brown:active,
.btn--brown:hover {
    background-color: #b22222;
    border: 8px solid #ffd700;
}

.btn--white {
    background-color: #f8f8ff;
    font-size: 3.2rem;
    padding: 20px;
    border: 5px solid #ffd700;
    cursor: pointer;
    border-radius: 10px;
    height: 200px;
    width: 200px;
    margin: 10px;
}

.btn--white:active,
.btn--white:hover {
    background-color: #fdf5e6;
    border: 8px solid #ffd700;
}

.btn--blue {
    background-color: #1E90FF;
    font-size: 3.2rem;
    padding: 20px;
    border: 5px solid #ffd700;
    cursor: pointer;
    border-radius: 10px;
    height: 200px;
    width: 200px;
    margin: 10px;
}

.btn--blue:active,
.btn--blue:hover {
    background-color: #1E90FF;
    border: 8px solid #ffd700;
}

.btn--green {
    background-color: #00ff7f;
    font-size: 3.2rem;
    padding: 20px;
    border: 5px solid #ffd700;
    cursor: pointer;
    border-radius: 10px;
    height: 200px;
    width: 200px;
    margin: 10px;
}

.btn--green:active,
.btn--green:hover {
    background-color: #adff2f;
    border: 8px solid #ffd700;
}

.btn--purple {
    background-color: #800080;
    font-size: 3.2rem;
    padding: 20px;
    border: 5px solid #ffd700;
    cursor: pointer;
    border-radius: 10px;
    height: 200px;
    width: 200px;
    margin: 10px;
}

.btn--purple:active,
.btn--purple:hover {
    background-color: #7b68ee;
    border: 8px solid #ffd700;
}

.selection-board {
    position: relative;
    box-sizing: border-box;
    max-height: 642px;
    max-width: 798px;
    margin-left: 32%;
    padding: 3%;
    top: 41px;
}

.user-selection {
    display: flex;
    width: 30vw;
    justify-content: space-evenly;
    margin-top: 2rem;
}

/* ----------------Scoring area */
.score-box {
    position: absolute;
    float: left;
    left: 44%;
    text-align: center;
    background-color: #b0c4de;
    margin: 10px;
    width: 13%;
    border: 10px solid #ffd700;
}

.scores {
    display: inline-block;
    font-size: 35px;
    font-family: "Titillium Web", "sans-serif";
    position: absolute;
    left: 22%;
    top: 78%;
    text-align: center;
    background-color: #b0c4de;
    margin: 10px;
    width: 11%;
    border: 10px solid #ffd700;
}

.turns {
    display: inline-block;
    font-size: 35px;
    font-family: "Titillium Web", "sans-serif";
    position: absolute;
    top: 86%;
    left: 43%;
    text-align: center;
    background-color: #b0c4de;
    margin: 10px;
    width: 13%;
    border: 10px solid #ffd700;
}

.opponent {
    display: inline-block;
    font-size: 35px;
    font-family: "Titillium Web", "sans-serif";
    position: absolute;
    top: 78%;
    left: 63%;
    text-align: center;
    background-color: #b0c4de;
    margin: 10px;
    width: 13%;
    border: 10px solid #ffd700;
}

#player-score {
    color: green;
}

#tries {
    color: blue;
}

#opponentChoice {
    color: red;
}

/* -------------------Media Queries */
@media screen and (max-width:922px) {
    .rules{
        border: 8px solid #ffd700;
        background-color: #696969;
        color: #000000;
        width: fit-content;
        margin-left: 0%;
        padding-left: 9px;
        text-align: center;
        font-size: 2.5rem;
        font-family: "Skranji", "sans-serif";
    }

    .select{
        border: 8px solid #ffd700;
        background-color: #696969;
        color: #000000;
        width: fit-content;
        margin-left: 0%;
        padding-right: 10px;
        text-align: center;
        font-size: 2.5rem;
        font-family: "Skranji", "sans-serif";
    }
    
    #name-card {
        position: absolute;
        left: 24%;
        background-image: linear-gradient(to right, silver, gray, slategray);
        border: 5px solid gold;
        padding-bottom: 8px;
        padding-right: 0px;
        width: 52%;
    }

    .header{
        color: #ffffff;
        text-align: center;
        text-decoration: underline;
        font-size: 3.5rem;
        font-family: "Skranji", "sans-serif";
    }

    .link {
        border: 8px solid #ffd700;
        background-color: #b0c4de;
        color: #B22222;
        width: fit-content;
        margin-left: 40%;
        padding: 4px;
        text-align: center;
        text-decoration: underline;
        font-size: 2.5rem;
        font-family: "Skranji", "sans-serif";
    }

    .scores {
        display: inline-block;
        font-size: 39px;
        font-family: "Titillium Web", "sans-serif";
        position: absolute;
        left: -4%;
        top: 72%;
        text-align: center;
        background-color: #b0c4de;
        margin: 40px;
        width: 29%;
        border: 10px solid #ffd700;
    }

    .turns {
        display: inline-block;
        font-size: 41px;
        font-family: "Titillium Web", "sans-serif";
        position: absolute;
        top: 85%;
        left: 30%;
        text-align: center;
        background-color: #b0c4de;
        margin: 21px;
        width: 27%;
        border: 10px solid #ffd700;
    }

    .opponent {
        display: inline-block;
        font-size: 39px;
        font-family: "Titillium Web", "sans-serif";
        position: absolute;
        top: 76%;
        left: 62%;
        text-align: center;
        background-color: #b0c4de;
        margin: 10px;
        width: 34%;
        border: 10px solid #ffd700;
    }
}

@media screen and (max-width:768px) {
    .rules {
        border: 8px solid #ffd700;
        background-color: #696969;
        color: #000000;
        width: fit-content;
        margin-left: 0%;
        padding: 10px;
        text-align: center;
        font-size: 2.5rem;
        font-family: "Skranji", "sans-serif";
    }

    .select {
        border: 8px solid #ffd700;
        background-color: #696969;
        color: #000000;
        width: fit-content;
        margin-left: 0%;
        padding-right: 20px;
        text-align: center;
        font-size: 2.5rem;
        font-family: "Skranji", "sans-serif";
    } 

    #name-card {
        position: absolute;
        left: 17%;
        background-image: linear-gradient(to right, silver, gray, slategray);
        border: 5px solid gold;
        padding-bottom: 8px;
        padding-right: 0px;
        width: 62%
    }

    #name{
        font-size: 1.9rem;
        position: absolute;
        top: 0px;
        color: black;
        font-family: "Skranji", "sans-serif"
    }

    #fname{
        height: 15px;
        padding: 3px;
        position: relative;
        left: 102px;
        top: 8px;
        font-size: 1.2rem;
        font-family: "Skranji", sans-serif;
    }

    #submit {
        font-size: large;
        height: 35px;
        width: 120px;
        background-color: peachpuff;
        margin-top: -29px;
        position: relative;
        left: 25%;
        top: 6px;
    }

    .header {
        color: #ffffff;
        text-align: center;
        text-decoration: underline;
        font-size: 3.5rem;
        font-family: "Skranji", "sans-serif";
    }   
    
    .link {
        border: 8px solid #ffd700;
        background-color: #b0c4de;
        color: #B22222;
        width: fit-content;
        margin-left: 40%;
        padding: 4px;
        text-align: center;
        text-decoration: underline;
        font-size: 2.5rem;
        font-family: "Skranji", "sans-serif";
    }

    .selection-board{
        position: relative;
        box-sizing: border-box;
        max-height: 642px;
        max-width: 798px;
        margin-left: 32%;
        padding: 3%;
        top: 0px;
    }      
    
    .scores {
        display: inline-block;
        font-size: 39px;
        font-family: "Titillium Web", "sans-serif";
        position: absolute;
        left: -4%;
        top: 72%;
        text-align: center;
        background-color: #b0c4de;
        margin: 40px;
        width: 29%;
        border: 10px solid #ffd700;
    }

    .turns {
        display: inline-block;
        font-size: 41px;
        font-family: "Titillium Web", "sans-serif";
        position: absolute;
        top: 86%;
        left: 30%;
        text-align: center;
        background-color: #b0c4de;
        margin: 21px;
        width: 27%;
        border: 10px solid #ffd700
    }

    .opponent {
        display: inline-block;
        font-size: 39px;
        font-family: "Titillium Web", "sans-serif";
        position: absolute;
        top: 76%;
        left: 61%;
        text-align: center;
        background-color: #b0c4de;
        margin: 10px;
        width: 34%;
        border: 10px solid #ffd700;
    }
}

@media screen and (max-width:548px) {
    .header {
        color: #ffffff;
        text-align: center;
        text-decoration: underline;
        font-size: 3.5rem;
        font-family: "Skranji", "sans-serif";
    }    

    .rules {
        border: 8px solid #ffd700;
        background-color: #696969;
        color: #000000;
        width: fit-content;
        margin-left: 0%;
        padding: 10px;
        text-align: center;
        font-size: 2.5rem;
        font-family: "Skranji", "sans-serif"; 
    }

    .select {
        border: 8px solid #ffd700;
        background-color: #696969;
        color: #000000;
        width: fit-content;
        margin-left: 0%;
        padding: 10px;
        text-align: center;
        font-size: 2.5rem;
        font-family: "Skranji", "sans-serif";
    }

    #name-card {
        position: absolute;
        left: 18%;
        background-image: linear-gradient(to right, silver, gray, slategray);
        border: 5px solid gold;
        padding-bottom: 8px;
        padding-right: 48px;
        width: 52%
    }

    #name{
        font-size: 1.9rem;
        color: black;
        font-family: "Skranji", "sans-serif";
    }

    #submit {
        font-size: xx-large;
        height: 44px;
        width: 173px;
        background-color: peachpuff;
        margin-top: 17px;
        position: relative;
        left: 13%;
    }
    
    .link {
        border: 8px solid #ffd700;
        background-color: #b0c4de;
        color: #B22222;
        width: fit-content;
        margin-left: 41%;
        padding: 5px;
        text-align: center;
        text-decoration: underline;
        font-size: 2rem;
        font-family: "Skranji", "sans-serif";
    }

    .selection-board {
        position: relative;
        box-sizing: border-box;
        max-height: 642px;
        max-width: 798px;
        margin-left: 35%;
        padding: 3%;
        top: 60px;
    }

    .scores {
        display: inline-block;
        font-size: 34px;
        font-family: "Titillium Web", "sans-serif";
        position: absolute;
        left: 0%;
        top: 75%;
        text-align: center;
        background-color: #b0c4de;
        margin: 40px;
        width: 29%;
        border: 10px solid #ffd700;
    }

    .turns {
        display: inline-block;
        font-size: 34px;
        font-family: "Titillium Web", "sans-serif";
        position: absolute;
        top: 90%;
        left: 32%;
        text-align: center;
        background-color: #b0c4de;
        margin: 21px;
        width: 27%;
        border: 10px solid #ffd700;
    }

    .opponent {
        display: inline-block;
        font-size: 34px;
        font-family: "Titillium Web", "sans-serif";
        position: absolute;
        top: 79%;
        left: 51%;
        text-align: center;
        background-color: #b0c4de;
        margin: 10px;
        width: 44%;
        border: 10px solid #ffd700;
    }
}