@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Skranji:wght@700&family=Titillium+Web:wght@300&display=swap');

html {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(black, slategray, maroon, slategray, black);
}

/*--------------------Header */
.header {
  color: #ffffff;
  text-align: center;
  text-decoration: underline;
  font-size: 6.5rem;
  font-family: 'Skranji', 'sans-serif';
}

/*--------------------Buttons */
.btn--brown {
  background-color: #A52A2A;
  font-size: 3.2rem;
  padding: 20px;
  border: 5px solid #ffd700;
  cursor: pointer;
  border-radius: 10px;
  height: 200px;
  width: 200px;
  margin: 10px;
}

.btn--brown:active,
.btn--brown:hover {
  background-color: #b22222;
  border: 8px solid #ffd700;
}

.btn--white {
  background-color: #F8F8FF;
  font-size: 3.2rem;
  padding: 20px;
  border: 5px solid #ffd700;
  cursor: pointer;
  border-radius: 10px;
  height: 200px;
  width: 200px;
  margin: 10px;
}

.btn--white:active,
.btn--white:hover {
  background-color: #FDF5E6;
  border: 8px solid #ffd700;
}

.btn--silver {
  background-color: #c0c0c0c0;
  font-size: 3.2rem;
  padding: 20px;
  border: 5px solid #ffd700;
  cursor: pointer;
  border-radius: 10px;
  height: 200px;
  width: 200px;
  margin: 10px;
}

.btn--silver:active,
.btn--silver:hover {
  background-color: #DCDCDC;
  border: 8px solid #ffd700;
}

.btn--green {
  background-color: #00FF7F;
  font-size: 3.2rem;
  padding: 20px;
  border: 5px solid #ffd700;
  cursor: pointer;
  border-radius: 10px;
  height: 200px;
  width: 200px;
  margin: 10px;
}

.btn--green:active,
.btn--green:hover {
  background-color: #ADFF2F;
  border: 8px solid #ffd700;
}

.btn--purple {
  background-color: #800080;
  font-size: 3.2rem;
  padding: 20px;
  border: 5px solid #ffd700;
  cursor: pointer;
  border-radius: 10px;
  height: 200px;
  width: 200px;
  margin: 10px;
}

.btn--purple:active,
.btn--purple:hover {
  background-color: #7B68EE;
  border: 8px solid #ffd700;
}

.selection-board {
  position: relative;
  box-sizing: border-box;
  max-height: 642px;
  max-width: 798px;
  margin-left: 32%;
  padding: 3%;
  top: 41px;
}

.user-selection {
  display: flex;
  width: 30vw;
  justify-content: space-evenly;
  margin-top: 2rem;
}

/* -----------------Input */
#name-card {  
  position: absolute;
  right: 40%;
  background-image: linear-gradient(to right, green, blue);
  border: 5px solid gold;
  padding-bottom: 8px;
  padding-left: 18px;
  padding-right: 25px; 
}

#name {
  font-size: 1.9rem;
  color: oldlace;
}

#fname {
  height: 15px;
  padding: 3px;
  font-size: 1.2rem;
  font-family: 'Skranji';
  color: darkred;
}

#submit {
  font-size: large;
  height: 30px;
  width: 76px;
  background-color: peachpuff;
}

/* ----------------Scoring area */
.score-box {
  position: absolute;
  float: left;
  left: 44%;
  text-align: center;
  background-color: #B0C4DE;
  margin: 10px;
  width: 13%;
  border: 10px solid #ffd700;
}

.scores {
  display: inline-block;
  font-size: 35px;
  font-family: 'Titillium Web', 'sans-serif';
  position: absolute;
  left: 31%;
  top: 60%;
  text-align: center;
  background-color: #B0C4DE;
  margin: 10px;  
  width: 13%;
  border: 10px solid #ffd700;
}

.turns {
  display: inline-block;
  font-size: 35px;
  font-family: 'Titillium Web', 'sans-serif';
  position: absolute;
  top: 67%;
  left: 43%;
  text-align: center;
  background-color: #B0C4DE;
  margin: 10px;
  width: 13%;
  border: 10px solid #ffd700;
}

.opponent {
  display: inline-block;
  font-size: 35px;
  font-family: 'Titillium Web', 'sans-serif';
  position: absolute;
  top: 60%;
  left: 55%;
  text-align: center;
  background-color: #B0C4DE;
  margin: 10px;
  width: 13%;
  border: 10px solid #ffd700;
}

#player-score {
  color: green;
}

#tries {
  color: blue;
}

#opponent{
  color: red;
}
/* -------------------Media Queries */
@media screen and (max-width: 950px) {
    #name-card {
        position: absolute;
        right: 26%;
        background-image: linear-gradient(to right, green, blue);
        border: 5px solid gold;
        padding-bottom: 8px;
        padding-left: 18px;
        padding-right: 25px;
    }

    .scores {
        display: inline-block;
        font-size: 35px;
        font-family: 'Titillium Web', 'sans-serif';
        position: absolute;
        left: 31%;
        top: 74%;
        text-align: center;
        background-color: #B0C4DE;
        margin: 10px;
        width: 13%;
        border: 10px solid #ffd700;
    }

    .turns {
        display: inline-block;
        font-size: 35px;
        font-family: 'Titillium Web', 'sans-serif';
        position: absolute;
        top: 85%;
        left: 43%;
        text-align: center;
        background-color: #B0C4DE;
        margin: 10px;
        width: 13%;
        border: 10px solid #ffd700;
    }

    .opponent {
        display: inline-block;
        font-size: 35px;
        font-family: 'Titillium Web', 'sans-serif';
        position: absolute;
        top: 74%;
        left: 55%;
        text-align: center;
        background-color: #B0C4DE;
        margin: 10px;
        width: 20%;
        border: 10px solid #ffd700;
    }
}

@media screen and (max-width: 800px) {
    .scores {
        display: inline-block;
        font-size: 35px;
        font-family: 'Titillium Web', 'sans-serif';
        position: absolute;
        left: 21%;
        top: 74%;
        text-align: center;
        background-color: #B0C4DE;
        margin: 10px;
        width: 15%;
        border: 10px solid #ffd700;
    }

    .turns {
        display: inline-block;
        font-size: 35px;
        font-family: 'Titillium Web', 'sans-serif';
        position: absolute;
        top: 85%;
        left: 39%;
        text-align: center;
        background-color: #B0C4DE;
        margin: 10px;
        width: 13%;
        border: 10px solid #ffd700;
    }

    .opponent {
        display: inline-block;
        font-size: 35px;
        font-family: 'Titillium Web', 'sans-serif';
        position: absolute;
        top: 74%;
        left: 55%;
        text-align: center;
        background-color: #B0C4DE;
        margin: 10px;
        width: 24%;
        border: 10px solid #ffd700;
    }
}

@media screen and (max-width: 480px) {
    .header {
        position: fixed;
        color: #ffffff;
        text-align: center;
        text-decoration: underline;
        font-size: 4.5rem;
        font-family: 'Skranji', 'sans-serif';
        right: 1px;
    }

    #name-card {
        position: fixed;
        background-image: linear-gradient(to right, green, blue);
        border: 5px solid gold;
        padding-bottom: 8px;
        padding-left: 37px;
        padding-right: 9px;
        margin-left: 20%;
        top: 27%;
        left: 27px;
    }

    .selection-board {
        position: relative;
        box-sizing: border-box;
        max-height: 642px;
        left: 16%;
        max-width: 437px;
        margin-left: 27%;
        padding: 2.6%;
        top: 600px;
    }

    .scores {
        display: inline-block;
        font-size: 35px;
        font-family: 'Titillium Web', 'sans-serif';
        position: absolute;
        left: 12%;
        top: 74%;
        text-align: center;
        background-color: #B0C4DE;
        margin: 10px;
        width: 28%;
        border: 10px solid #ffd700;
    }

    .turns {
        display: inline-block;
        font-size: 35px;
        font-family: 'Titillium Web', 'sans-serif';
        position: absolute;
        top: 93%;
        left: 39%;
        text-align: center;
        background-color: #B0C4DE;
        margin: 10px;
        width: 25%;
        border: 10px solid #ffd700;
    }

    .opponent {
        display: inline-block;
        font-size: 35px;
        font-family: 'Titillium Web', 'sans-serif';
        position: absolute;
        top: 74%;
        left: 65%;
        text-align: center;
        background-color: #B0C4DE;
        margin: 10px;
        width: 39%;
        border: 10px solid #ffd700;
    }
}